@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&family=Poppins:wght@100;400&family=Work+Sans:wght@400;600;700;800&display=swap');
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
.fontweight300 {
  font-weight: 300;
}
.fontweight900 {
  font-weight: 900;
}
.background-yellow {
  background-color: #fad725 !important;
}
.blue-color {
  color: #6f77f1;
}
/* nav section start */
a:hover {
  text-decoration: underline blue;
}
/* nav section end */

/* hero section start */
h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem !important;
}
.hero-expert {
  transform: rotate(-20deg);
  border: 2px solid #6f77f1;
  width: 30%;
  height: 20%;
  margin-top: 8rem;
  margin-right: rem;
}
/* hero section end */

/* media section start */
.social,
.email,
.seo {
  box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
}

/* media section end */

/*  website section start */
.keyword {
  background-image: url("./images/1.png");
}
.content {
  background-image: url("./images/2.png");
}
.target {
  background-image: url("./images/3.png");
}
.continuous {
  background-image: url("./images/4.png");
}
.keyword,
.content,
.target,
.continuous {
  background-repeat: no-repeat;
  background-position: center;
}
.keyword:hover,
.content:hover,
.target:hover,
.continuous:hover {
  border-bottom: 2px solid blue;
  box-shadow: 0px 10px 14px 2px rgba(14, 17, 60, 0.03);
}
/*  website section end */

/*  grow section start */
.grow:hover,
.get:hover,
.drive:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
/*  grow section end */

/*  choose us section start */
.choose-first:hover,
.choose-second:hover,
.choose-third:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

/*  choose us section end */

/*  need it section start */
.need-social:hover,
.need-email:hover,
.need-seo:hover {
  box-shadow: 5px 25px 37px rgba(2, 22, 5, 0.06);
}
/*  need it section end */
.form-speed {
  background-color: #F2F2F2 !important;
}
/*  our plans section start */
.plans-left:hover,
.plans-middle:hover,
.plans-right:hover {
  background-color: #6f77f1;
  transform: scale(1.1,1.1);
}
.plans-left:hover button,
.plans-middle:hover button,
.plans-right:hover button {
  background-color: #fad725 !important;
}
.plans-left:hover p,
.plans-middle:hover p,
.plans-right:hover p {
  color: white !important;
}
.plans-left,
.plans-middle,
.plans-right {
  transition-duration: 3s;
  
}
/*  our plans section end */

/*  member section start */
.members-information:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}
.members-information p:hover {
  color: #6f77f1;
}
.members-information a:hover {
  color: #6f77f1 !important;
}
/*  member section end */

/* clients section start */
.clients-box {
  background-image: url("./images/clientsbg.png");
  background-repeat: no-repeat;
}
.clients-box {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

/* clients section end */

/* subscibe section start */
.subscribe-button {
  background-color: #6f77f1 !important;
}
.subscibe {
  background-color: #FAFAFA;
  margin: 1rem 10rem ;
}
/* subscibe section end */

/* footer section start */
.footer-bottom {
  font-size: 0.6rem;
}
/* footer section end */

@media (min-width: 768px) {
  .hero-expert {
    margin-left: -5rem;
  }
  /*  need it section start */
  .need-left {
    width: 50vw;
  }
  .need-right {
    width: 50vw;
  }
  /*  need it section end */
  
}

@media (min-width: 1024px) {
  /*  hero section start */
  h1 {
    font-size: 3rem !important;
  }
  /* hero section end */
}
